* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(26, 26, 26);
}
h1 {
  padding: 1rem;
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}
h3,
a {
  color: #fff;
}

.parent {
  display: flex;
  flex-direction: column;
}
.side {
  display: flex;
  flex-direction: column;
}

.side .header-section h3 {
  font-size: 1.75rem;
  margin: 0.5rem;
}
.side .header-section img {
  width: 4.2rem;
  height: 4.2rem;
  align-self: center;
}

.side .listado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  width: 90vw;
}
.side .listado li {
  border-radius: 1.3rem;
  margin: 1rem;

  list-style-type: none;
  font-size: 20px;
  padding: 0.3em;
  display: flex;
  margin: 0;
  margin-top: 1em;
  background-color: rgb(75, 74, 74);
  border-radius: 1em;
  box-shadow: -2px 0 19px -3px rgba(87, 87, 87, 0.83);
  -webkit-box-shadow: -2px 0 19px -3px rgba(87, 87, 87, 0.83);
  -moz-box-shadow: -2px 0 19px -3px rgba(87, 87, 87, 0.83);
}

.side .listado li:hover {
  background-color: rgb(20, 20, 20);
  transition: all 0.35s ease-out;
}

.side ul li a {
  font-size: 1.2rem;
  line-height: 1.4em;
  place-self: center;
  font-weight: 300;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
}

.side ul li a:hover {
  color: rgb(238, 235, 76);
}

.side .header-section {
  display: flex;
  padding: 2em 0;
  margin: 0.5em;
  justify-content: center;
}

.godevs-container {
  justify-content: center;
  align-items: center;
  align-self: center;
}
.godevs-container .godevs {
  width: 300px;
  margin: 21px 0px;
}
footer {
  text-align: center;
  margin: 0 auto;
  columns: #fff;
  text-decoration: none;
}
footer a {
  text-decoration: none;
}
footer div {
  background-image: url(./img/Vector.png);
  width: 95px;
  height: 95px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (min-width: 375px) {
  h1 {
    font-size: 2rem;
  }
  .side .header-section h3 {
    font-size: 1.8rem;
  }
  .side .header-section img {
    width: 3rem;
  }
  .side ul {
    width: 92%;
  }
  .side ul li a {
    font-size: 1.4rem;
    line-height: 1.4em;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 2.3rem;
  }
  .side .header-section h3 {
    font-size: 2rem;
  }
  .side .header-section img {
    width: 4rem;
  }
  .side ul li a {
    font-size: 1.4rem;
    line-height: 1.5em;
  }

  .side ul li img {
    width: 4em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.4em;
  }

  .header-section {
    font-size: 26px;

    margin: 0.5em;
    padding-top: 2em;
    padding-bottom: 0.8rem;
  }
  .side .header-section h3 {
    font-size: 4rem;
  }
  .side .listado li {
    margin-bottom: 1.5rem;
  }
  .side ul li a {
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
  }
  .side ul li img {
    width: 6rem;
  }

  div .godevs-container .godevs {
    width: 700px;
  }
}

@media (min-width: 1024px) {

  h1 {
    font-size: 5.5rem;
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.3rem 0.3rem;
    grid-template-areas: ".";
  }

  .parent .side .listado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0rem 2rem;
    grid-template-areas: ". .";
  }
  .header-section h3 {
    font-size: 5rem;
  }
  .header-section img {
    width: 5rem;
  }
  .side ul li img {
    width: 4em;
  }
  .side ul li a {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .godevs-container {
    justify-self: center;
  }
  .godevs {
    width: 28rem;
  }
}
